---
import Social from "./Social.astro";
---

<div class="socials">
  <Social platform="youtube" link="https://www.youtube.com/@itadmin-tg" />
  <Social platform="github" link="https://gitlab.com/Landryklip/" />
  <Social
    platform="discord"
    link="https://discord.com/PDmBMedR"
  />
</div>

<style>
  .socials {
    display: flex;
    align-self: center;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
</style>
